@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/AzureCosmosDB/data-migration-desktop-tool" target="_blank">About</a>
        </div>

        <article class="content body-content">
            @Body
        </article>
    </main>
</div>
