name: Release Binaries ${{ github.event.inputs.release-tag }}
on: 
  workflow_dispatch:
    inputs:
      release-tag:
        description: 'Version number to build and release'
        required: true

jobs:
  build-package:
    name: Build self-contained executables
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:8.0
    strategy:
      matrix:
        include:
          - platform: windows
            platform-short: win
            runtime: win-x64
          - platform: windows
            platform-short: win
            runtime: win-arm64
          - platform: mac
            platform-short: mac
            runtime: osx-x64
          - platform: mac
            platform-short: mac
            runtime: osx-arm64
          - platform: linux
            platform-short: linux
            runtime: linux-x64
          - platform: linux
            platform-short: linux
            runtime: linux-arm64
    steps:
      - name: Check .NET version
        run: dotnet --version
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Execute Action build-with-plugins ${{ matrix.runtime }}
        uses: ./.github/actions/build-with-plugins
        with:
          platform: ${{ matrix.platform }}
          platform-short: ${{ matrix.platform-short }}
          runtime: ${{ matrix.runtime }}
          build-version: ${{ inputs.release-tag }}

  create-release:
    name: Create GitHub release
    runs-on: ubuntu-latest
    needs: build-package
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: .
      - name: Package output files
        run: |
            zip -r dmt-${{ inputs.release-tag }}-win-x64.zip win-x64-package/*
            zip -r dmt-${{ inputs.release-tag }}-win-arm64.zip win-arm64-package/*
            
            # rename from osx to mac to retain previous naming convention
            mv osx-x64-package mac-x64-package
            zip -r dmt-${{ inputs.release-tag }}-mac-x64.zip mac-x64-package/*
            
            # rename from osx to mac to retain previous naming convention
            mv osx-arm64-package mac-arm64-package
            zip -r dmt-${{ inputs.release-tag }}-mac-arm64.zip mac-arm64-package/*

            # create linux packages using tar as supposed to zip. tar is more common for linux packages
            tar -czvf dmt-${{ inputs.release-tag }}-linux-x64.tar.gz linux-x64-package/*
            tar -czvf dmt-${{ inputs.release-tag }}-linux-arm64.tar.gz linux-arm64-package/*
      - name: Create GitHub release ${{ inputs.release-tag }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.release-tag }}
          files: |
            dmt-${{ inputs.release-tag }}-win-x64.zip
            dmt-${{ inputs.release-tag }}-win-arm64.zip
            dmt-${{ inputs.release-tag }}-mac-x64.zip
            dmt-${{ inputs.release-tag }}-mac-arm64.zip
            dmt-${{ inputs.release-tag }}-linux-x64.tar.gz
            dmt-${{ inputs.release-tag }}-linux-arm64.tar.gz